@font-face {
    font-family: "PTSans";
    src: url("../fonts/web/ptsans.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/web/ptsansbold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}



.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}


.label-new {
    font-size: 16px;
    line-height: 18px;
}

main h2, 
main h3 {
    font-size: 30px;
    line-height: 30px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* index.html and total stilization*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 940px;
    margin: 0px auto;
}

/* header class="main-header"*/

.header-wrapper {
    width: 100%;
    height: 320px;
    background-color: #f3f7f8;
}

.wrapper-user {
    width: 100%;
    background-color: #293449;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper-contacts {
    width: 100%;
    background-color: #f3f7f8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper-user-nav {
    height: 100px;
    margin-left: 60px;
    margin-top: 45px;
}

.services-wrapper {
    width: 100%;
    background-color: #f4f8f9;
}

.social-wrap {
    width: 100%;
    background-color: #293449;
}

.conditions-wrap {
    width: 100%;
    background-color: #32425c;
}

.catalog-about-wrap {
    width: 100%;
    background-color: #f2f6f8;
}

.header-user {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    height: 42px;
    min-width: 940px;
}

.header-contacts {
    position: relative;
    height: 158px;
}

.header-user, .header-user a {
    background-color: #293449;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
}

.header-user .main-logo  {
    height: 22px;
    width: 110px;
    padding: 10px 55px 10px 55px; 
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    
}

.main-logo:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.main-logo:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.header-order-button {
    padding-top: 10px;
}

.header-user .full, 
.header-user .full:hover,
.header-user .full:active {
    background-color: #ee3643;
}


.header-order-button .order {
    width: 150px;
    height: 42px;
    padding: 16px 21px 14px 21px;
    background-color: #63a63e;
    font-size: 17px;
    line-height: 18px;   
}

.header-order-button:hover .order {
    background-color: #5fbb2d;
}

.header-order-button:active .order {
    background-color: #518534;
    color: rgba(170, 195, 155, 0.51);
}

.main-search {
    width: 270px;
    margin: 0;
    padding: 0;
}

.input-search {
    background: url("../img/icon-search.svg") no-repeat;
    background-size: 17px 17px;
    background-position: 10px 13px;
    opacity: 0.3;
}

.input-search:hover {
    opacity: 1;
}

.input-search:active,
.input-search:focus {
    background: url("../img/icon-search-active.svg") no-repeat;
    background-size: 17px 17px;
    background-position: 10px 13px;
    opacity: 1;
}

.input-search:active .main-search::before,
.input-search:focus .main-search::before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 3;
    left: 230px;
    top: 13px;
    padding-right: 10px;
    background: url("../img/css_sprites.png") no-repeat -235px -273px;
    width: 17px;
    height: 17px;
}

.control:hover {
    background-color: #212a3a;
}

.control .input-search {
    display: inline-block;
    position: relative;
    padding: 0;
    padding-left: 50px;
    width: 220px;
    height: 42px;
    background-color: #293449;
    border: none;
    color: #ffffff;
}

.input-search::-webkit-input-placeholder {
    color: #ffffff;
}

.control .input-search:hover {
    background-color: #212a3a;
    border: none;
    color: #ffffff;
}

.control .input-search:active,
.control .input-search:focus {
    background-color: #ffffff;
    color: #000000;
}

.control:not(.main-search):active {
    background-color: #161d29;
    color: rgba(162, 165, 169, 0.51);
}

.header-user .main-header-marker {
    padding: 10px 10px;
    padding-top: 5px;
    width: 120px;
}

.main-header-marker::before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 8px;
    background: url("../img/css_sprites.png") no-repeat -272px -273px;
    padding-right: 13px; 
    width: 14px;
    height: 20px;
    fill: white;
    opacity: 0.3;
}

.main-header-marker:hover::before {
    opacity: 1;
}

.main-header-marker:active::before {
    opacity: 0.3;
}

.main-header-sale {
    padding: 10px 10px;
    width: 140px;
}

.main-header-sale::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    background: url(../img/css_sprites.png) no-repeat -202px -232px;
    padding-right: 17px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
}

.main-header-sale:hover::before {
    opacity: 1;
}

.main-header-sale:active::before {
    opacity: 0.3;
}

.header-contacts {
    background-color: #f3f7f9;
    display: flex;
    flex-wrap: wrap;
}

.header-info {
    max-width: 205px;
    height: 70px;
    padding: 32px 56px 42px 56px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.tel {
    display: block;
    position: relative;
    width: 167px;
    height: 28px;
    margin-top: 45px;
    padding: 10px 36px 7px 59px;
    border: 3px solid white;
    color: #ee3643;
    font-style: normal;
    font-size: 21px;
    line-height: 21px;
}

.tel::before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 230px;
    background: url("../img/css_sprites.png") no-repeat -316px -188px;
    width: 19px;
    height: 19px;
}

.header-adress {
    display: block;
    margin-top: -13px;
    font-size: 14px;
    line-height: 24px;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.user-navigation a {
    position: relative;
    z-index: 0;
    width: 121px;
    height: 45px;
    padding: 10px 23px 10px 23px;
   
    background-color: #ffffff;
    font: inherit;
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}

.header-login {
    margin-right: 10px;
    margin-left: 10px;
}

.login-link .header-login {
    width: 121px;
    padding: 10px 18px;
}


.header-login::before {
    content: "";
    display: inline-block;
    position: relative;
    padding-right: 14px;
    background: url("../img/css_sprites.png") no-repeat -195px -273px;
    width: 20px;
    height: 17px;
    opacity: 0.3;
}

.header-login:hover::before {
   opacity: 1;
}

.header-login:active::before {
    opacity: 0.3;
}

.header-login:hover,
.header-registration:hover {
    color: #ee3643;
}

.header-login:active,
.header-registration:active {
    color: rgba(178, 178, 178, 0.3);
}

.user-navigation-active {
    padding: 0;
    margin: 0;
    list-style: none;
}

.user-navigation-active a {
    color: #000000;
    width: 300px;
    height: 45px;
}

.header-login-active::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    background: url(../img/css_sprites.png) no-repeat -74px -273px;
    padding-right: 15px;
    width: 20px;
    height: 18px;
    opacity: 0.3;
}


.header-login-active:hover::before,
.login-link-active .header-login-exit:hover {
    opacity: 1;
}

.header-login-active:active::before,
.login-link-active .header-login-exit:active {
    opacity: 0.3;
}

.login-link-active {
    height: 25px;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 21px;
    padding: 12px 6px 12px 9px;
}

.login-link-active .header-login-exit {
   display: inline-block;
   margin-left: 38px; 
   background: url(../img/css_sprites.png) no-repeat -114px -273px;
   width: 21px;
   height: 17px;
    opacity: 0.3;
}

.header-login-active:active {
    color: rgba(178, 178, 178, 0.3);
}

.my-orders,
.personal {
    display: inline-block;
    text-decoration: underline;
    font-size: 16px;
    line-height: 18px;
}

.my-orders {
    margin-left: 18px;
}

.header-orders::after {
    content: "";
    display: inline-block;
    position: relative;
    background-color: #32425c;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 12px;
    width: 4px;
    height: 4px;
}

.my-orders:hover a,
.personal:hover  a {
    color: #ee3643;
}

.my-orders:active a,
.personal:active a {
    color: rgba(178, 178, 178, 0.3);
}

.main-navigation {
    min-height: 60px;          
}

.site-navigation {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.site-navigation a {
    width: 55px;
    height: 2px;
    padding: 18px 41px 19px 36px;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    color: #ffffff;
    font-size: 17px;
    line-height: 17px;
}

.site-nav-item:nth-of-type(2) a{
    width: 38px;
    height: 2px;
    padding: 18px 35px 19px 35px;
}

.site-nav-item:nth-of-type(3) a {
    width: 38px;
    height: 2px;
    padding: 18px 35px 19px 35px;
}

.site-nav-item:nth-last-of-type(4) a {
    width: 38px;
    height: 2px;
    padding: 18px 15px 19px 15px;
}

.site-nav-item:nth-of-type(5) a {
    width: 33px;
    height: 2px;
    padding: 18px 35px 19px 35px;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:active {
    background-color: #1d2739;
    color: rgba(134, 140, 149, 0.3);
}

/* section class="features*/



.features-top {
    margin-top: 60px;
    margin-bottom: 20px;
}

.features-bottom {
    display: flex;
}

.features-flex-wrap {
    position: relative;
    right: 60px;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features-item {
    position: relative;
    width: 300px;
    height: 125px;
}

.features-item:nth-of-type(-n+2),
.features-item:nth-of-type(4) {
    margin-right: 20px;
}

.features-item h3 {
    margin: 0;
    padding-left: 23px;
    padding-top: 24px;
    font-size: 24px;
    line-height: 30px;
}


.features-item h3, .label-new {
    color: #ffffff;
    margin: 0;
    padding-left: 23px;
    padding-top: 24px;
}

.features-button {
    position: relative;
    top: 20px;
    width: 135px;
    height: 38px;
    padding: 12px 24px 12px;
    margin-left: 25px;
    text-transform: uppercase;
    background-color: rgba(229, 229, 229, 0.3);
    color: #ffffff;
    border-radius: 4px;
}

.features-button-instruments {
    padding: 12px 26px 12px;
} 

.features-button-mechanizm {
    padding: 12px 33px 12px;
}

.features-button-sales {
    padding: 12px 26px 12px;
}

.features-button-delivery {
    padding: 12px 38px 12px;
}

.features-button:hover {
    background-color: rgba(204, 204, 204, 0.4);
}

.features-button:active {
    background-color: rgba(178, 178, 178, 0.5);
}

.features-item:nth-of-type(1) {
    background-color: #ffbf47;
}

.features-item:nth-of-type(2) {
    background-color: #3bbce3;
}

.features-item:nth-of-type(3) {
    background-color: #dc91d8;
}

.features-bottom .features-credit {
    position: relative;
    margin-right: 0;
    background-color: #8ed78f;
}

.features-bottom .features-delivery {
    position: relative;
    margin-right: 0;
    background-color: #ffc047;
}

.features-button-materials::after {
    content: "";
    position: absolute;
    left: 185px;
    bottom: 10px;
    background: url(../img/css_sprites.png) no-repeat -10px -232px;
    width: 44px;
    height: 65px;
}

.features-button-instruments::after {
    content: "";
    position: absolute;
    left: 180px;
    bottom: 10px;
    background: url("..//img/css_sprites.png") no-repeat -10px -151px;
    width: 75px;
    height: 61px;
}

.features-button-mechanizm::after {
    content: "";
    position: absolute;
    left: 166px;
    bottom: 9px;
    background: url("..//img/css_sprites.png") no-repeat -171px -10px;
    width: 78px;
    height: 62px;
}

.features-button-sales::after {
    content: "";
    position: absolute;
    left: 168px;
    bottom: 2px;
    background: url("..//img/css_sprites.png") no-repeat -269px -96px;
    width: 59px;
    height: 72px;
}

.features-button-delivery::after {
    content: "";
    position: absolute;
    left: 166px;
    bottom: 9px;
    background: url("..//img/css_sprites.png") no-repeat -10px -68px;
    width: 78px;
    height: 63px;
}

.label-new-features {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 240px;
    background: url("../img/new%20flag.png") no-repeat;
}

/* figure class="catalog-gallery" */

.catalog-gallery {
    position: relative;
    margin: 0;
    margin-right: 80px;
}

.catalog-gallery-button {
    position: relative;
    z-index: 111;
    top: -62px;
    left: 24px;
    display: block;
    width: 104px;
    height: 15px;
    padding: 12px 50px;
    border-radius: 3px;
    background-color: #ee3643;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-gallery-button:hover {
    background-color: #ca2c37;
}

.catalog-gallery-button:active {
    background-color: #ba2732;
}


.catalog-slide .button:hover {
    background-color: #ca2c37;
}

.catalog-slide .button:active {
    background-color: #ba2732;
}

.catalog-slide-1,
.catalog-slide-2 {
    height: 266px;
    width: 620px;
}

.catalog-slide-1 {
    display: none;
    height: 266px;
    bottom: 50px;
    
}

.catalog-slide-2 {
    display: block;
    height: 266px;
    bottom: 50px;
}

.gallery-control-forward {
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 111;
    bottom: 150px;
    left: 572px;
    background: url("../img/css_sprites.png") no-repeat -108px -68px;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.gallery-control-backward {
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 111;
    bottom: 150px;
    left: 25px;
    background: url("../img/css_sprites.png") no-repeat -105px -151px;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.slide-1 {
    position: relative;
    margin-top: -37px;
    width: 620px;
    height: 266px;    
}

.name-1 {
    position: relative;
    top: 26px;
    left: 26px;
    z-index: 2;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.info-1 {
    position: relative;
    z-index: 2;
    top: 48px;
    right: 182px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

.gallery-slide-button-1 {
    border: none;
    padding: 0;
    position: absolute;
    bottom: 76px;
    left: 294px;
    background: url("../img/selector-1.png") no-repeat;
    width: 10px;
    height: 10px;
}

.gallery-slide-button-2 {
    border: none;
    padding: 0;
    position: absolute;
    bottom: 76px;
    left: 314px;
    background: url("../img/selector-2.png") no-repeat;
    width: 10px;
    height: 10px;
}


.slide-2 {
    position: relative;
    margin-top: -37px;
    width: 620px;
    height: 266px;
}

.name-2 {
    position: relative;
    z-index: 2;
    top: 26px;
    left: 26px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.info-2 {
    position: relative;
    z-index: 2;
    top: 48px;
    left: -70px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}


/* section class="products" */

.products {
    min-height: 450px;
}

.popular-header {
    display: flex;
    justify-content: space-between;
    padding: 27px 25px 26px 30px;
    margin-bottom: 20px;
    background-color: #f9f5f0;
    text-transform: uppercase;
}

.popular-header h2 {
    margin: 0;
    font-weight: normal;
    color: #32425c
}

.popular-button {
    text-align: center;
    border-radius: 3px;
    width: 160px;
    height: 16px;
    padding: 11px 47px 11px; 
    background-color: #ee3643;
    text-transform: uppercase;
    color: #ffffff;
}

.popular-button:hover {
    background-color: #ca2c37;    
}

.popular-button:active {
    background-color: #ba2732;
}

.products-catalog {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.products-catalog-inner {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.products-item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 203px;
    height: 266px;
    border: 1px solid #eaeaea;
    padding: 35px 7px 15px;
    margin-bottom: 20px;
}

.products-item-inner {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 203px;
    height: 266px;
    margin-right: 20px;
    border: 1px solid #eaeaea;
    padding: 35px 7px 15px;
    margin-bottom: 20px;
}

.products-item-inner:nth-of-type(3n) {
    margin-right: 0;
}

.products-item img,
.products-item-inner img {
    margin-bottom: 43px;
}

.catalog-shadow {
    font-family: "PTSans", Arial, sans-serif;
}

.catalog-shadow .products-item:hover,
.catalog-shadow .products-item-inner:hover {
    box-shadow: 0px 5px 20px 0px #b4b8bf;
}

.product-name {
    display: block;
    margin-bottom: 13px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.products-item:hover .product-name,
.products-item-inner:hover .product-name {
    margin-top: 52px;
}

.price-del {
    display: block;
    align-self: center;
    width: 80px;
    margin-bottom: 12px;
    color: #a9a9a9;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
}

.price {
    display: block;
    margin: 0px auto;
    margin-top: auto;
    width: 141px;
    height: 38px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    background: url("../img/css_sprites.png") no-repeat -10px -10px;
}

.hidden-active {
    margin-top:-3px;
    margin-left: 42px;
}

.hidden-active {
    display: none;
}

.products-item:hover .hidden-active,
.products-item-inner:hover .hidden-active {
    display: block;
}

.products-item:hover img,
.products-item-inner:hover img {
    display: none;
}

.products-item:hover,
.products-item-inner: hover {
    height: 264px;
}

.hidden-button-buy {
    width:129px;
    margin:7px auto;
    padding:7px 0;
    background-color: #63a63e;
    border: none;
    color: #ffffff;
    box-shadow: 0px 3px 0 0 #367315;
    text-transform: uppercase;
    font-family: "Cuprum", Arial, sans-serif;
    border-radius: 4px;
}

.hidden-button-marker {
    width:129px;
    margin:0 auto;
    padding:7px 0;
    background-color: #ffffff;
    color: #32425c;
    border: 3px solid #63a63e;
    text-transform: uppercase;
    font-family: "Cuprum", Arial, sans-serif;
    border-radius: 4px;
}

.hidden-button-marker:hover {
    border: 3px solid #32425c;
}

.hidden-button-marker:active {
    border: 3px solid #c1c6ce;
    color: #c1c6ce;
}

.hidden-button-buy:hover {
    background-color: #5fbb2d;
    box-shadow: 0px 3px 0 0 #367315;
}

.hidden-button-buy:active {
    background-color: #518534;
}

.new-label::after {
    content: "";
    position: absolute;
    bottom: 257px;
    left: 158px;
    width:60px;
    height:60px;
    background: url("../img/new%20flag.png") no-repeat;
}

.products-item:hover .new-label::after {
    bottom: 250px;
}

/*section="manufacturers"*/

.manufacturers {
    min-height: 420px;
    margin-bottom: 65px;
}

.manufacturers-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.manufacturers-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 143px;
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
}

.manufacturers-item:hover {
    box-shadow: 0px 5px 20px 0px #b4b8bf;
}

.manufacturers-item:active {
    opacity: 0.3;
}

/* section class="services" */

.services {
    height: 510px;
    padding-top: 63px;
    margin-bottom: 80px;
    background-color: #f4f7f9;
}

.services-top {
    width: 410px;
}

.services-top p {
    font-family: "PTSans", Arial, sans-serif;
}

.services-left {
    position: relative;
    width: 240px;
    margin-right: 82px;
}

.services-wrap {
    display: flex;
}

.shadow {
    position: absolute;
    top: 20px;
    left: 230px;
}


.services .services-right-delivery {
    display: none;
}

.services .services-right-guarantee {
    display: none; 
}

.services .services-right-credit {
    display: block;
}


div[class*="services-right"] p {
    position: relative;
    z-index: 2;
    display: block;
    font-family: "PTSans", Arial, sans-serif;
}

.services-right-delivery p::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -34px;
    left: 151px;
    width: 468px;
    height: 261px;
    background: url("../img/services-1.png") no-repeat;
}

.services-right-credit p::after {
    content: "";
    display: block;
    position: absolute;
    top: -60px;
    left: 162px;
    z-index: -1;
    width: 465px;
    height: 285px;
    background: url("../img/services-3.png") no-repeat;
}

.services-right-guarantee p::after {
    content: "";
    display: block;
    position: absolute;
    top: -60px;
    left: 238px;
    z-index: -1;
    width: 389px;
    height: 283px;
    background: url("../img/services-2.png") no-repeat;
}

.services-right-delivery p{
    width: 275px;
}

.services-right-credit p {
    width: 280px;
}

.services-list {
    padding: 0;
    margin-top: 71px;
    list-style: none;
}

.services-item a {
    display: block;
    width: 218px;
    height: 45px;
    padding-top: 15px;
    padding-left: 22px;
    background-color: #32425c;
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
}

.border {
    border-top: 1px solid #4e637b;
}

.services-item a:hover,
.services-item a:focus {
    background-color: #293449;
}

.services-item a:active {
    background-color: #ffffff;
    color: #32425c;
}

.services-item-active a {
    display: block;
    width: 218px;
    height: 45px;
    padding-top: 15px;
    padding-left: 22px;
    background-color: #ffffff;
    color: #32425c;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
}

.services-shadow {
    position: absolute;
    top: -40px;
    left: 230px;
}

.services h3 {
    text-transform: uppercase;
    font-weight: normal;
}

.services h3:first-child {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

div[class*="services-right"] h3 {
    font-family: "Cuprum", Arial, sans-serif; 
    color: #32425c;
    text-transform: none;
    font-size: 36px;
    line-height: 36px;
}

.services-credit-button {
    display: block;
    padding: 10px 45px;
    margin-top: 30px;
    border-radius: 3px;
    background-color: #ff5357;
    color: #ffffff;
    border: none;
}

.services-credit-button:hover {
    background-color: #ca2c37;
}

.services-credit-button:active {
    background-color: #ba2732;
}

/*section class="about"*/

.about h2 {
    text-transform: uppercase;
    font-weight: normal;
}

.about p {
    font-family: "PTSans", Arial, sans-serif;
}

/*.about-delivery {
    list-style-image: url(list-about.png);
}*/

.info-wrap {
    display: flex;
    justify-content: space-between;
    min-height: 315px;
    margin-bottom: 85px;
}

.info-wrap h2 {
    margin-top: 0;
}

.about {
    width: 523px;
}

.contacts {
    max-width: 300px;
}

.about-delivery {
    list-style: none;
}

.about-delivery-item {
    font-size: 18px;
    line-height: 20px;
}

.about-delivery-item::before {
    content: "";
    position: relative;
    right: 37px;
    top: 10px;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    
}

.about-button {
    display: block;
    width: 140px;
    height: 18px;
    padding: 10px 40px;
    margin-top: 37px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ff5357;
    color: #ffffff;
}

.about-button:hover {
    background-color: #ca2c37;
}

.about-button:active {
    background-color: #ba2732;
}

/* section class="contacts"*/

.contacts h2 {
    text-transform: uppercase;
    font-weight: normal;
}

.contacts p {
    font-family: "PTSans", Arial, sans-serif;
}

.contacts-button {
    display: block;
    width: 177px;
    height: 15px;
    padding: 12px 60px;
    margin-top: -1px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ff5357;
    color: #ffffff;
}

.contacts-button:hover {
    background-color: #ca2c37;
}

.contacts-button:active {
    background-color: #ba2732;
}

/* footer class="main-header */

.main-footer {
    margin: 0 auto;
}

.main-footer-logo {
    position: relative;
    top: 17px;
    height: 31px;
    width: 136px;
    padding: 15px 40px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
}

.main-footer-logo:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.main-footer-logo:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}


.footer-conditions {
    display: flex;
    justify-content: space-between;
    height: 190px;
    background-color: #32425c;
    color: #f1f5f7;
}

.footer-contacts {
    margin-top: 65px;
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.footer-navigation a {
    margin-right: 60px;
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
}

.footer-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 553px;
    padding: 0;
    list-style: none;
}

.footer-features a {
    color: #ffd180;
    font-size: 18px;
    line-height: 24px;
}

.footer-features li:first-child {
    margin-left: 24px;
}

.footer-navigation a:hover,
.footer-features a:hover {
    text-decoration: underline;
}

.footer-navigation a:active,
.footer-features a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-navigation,
.footer-features {
    width: 550px;
    
    bottom: 125px;
}

/* footer class="footer-social" */

.footer-social {
    display: flex;
    min-height: 107px;
    background-color: #293449;
    color: #f1f5f7;
}

.footer-social ul {
    margin-top: 36px;
    margin-right: 120px;
    display: flex;
    padding: 0;
    list-style: none;
}

.footer-social p {
    padding-top: 40px;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}

.footer-social .copyright {
    display: block;
    margin-right: 160px;
}

.social-button a {
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 5px;
    background: url("../img/css_sprites.png") no-repeat  -148px -219px #212a3a;
    border-radius: 42px;
}

.social-button:nth-of-type(2) a {
    background: url("../img/css_sprites.png") no-repeat  -340px 0px #212a3a;
}

.social-button:nth-of-type(3) a {
    background: url("../img/css_sprites.png") no-repeat  -104px -222px #212a3a;
}

.social-button a:hover,
.social-button a:active {
    background-color: #ee3643;
}

.connection-wrap {
    display: flex;
    flex-wrap: wrap
}

.connection {
    color: #ffffff;
}

.connection-wrap .connection:not(:first-child) {
    margin-left: 53px;
}

.connection a {
    color: #ffd180;
    font-size: 16px;
    line-height: 18px;
}

.connection a:hover {
    text-decoration: underline;
}

.connection a:active {
    color: #ee3643;
    text-decoration: none;
}

/* section class="modal-map" */

.modal-map {
    display: none;
    position: fixed;
    z-index:  110;
    left: 15%;
    top: 130px;
    height: 446px;
    box-shadow: 5px 0 20px 0 #111720;
}

.modal-map-close {
    display: block;
    background: url(../img/css_sprites.png) no-repeat -74px -232px;
    width: 21px;
    height: 21px;
    padding: 10px 10px;
    position: absolute;
    bottom: 415px;
    left: 910px;
    border: none;
}

/* section class="modal-contacts" */

.contacts-wrap {
    display: flex;
    width: 482px;
    justify-content: space-between;
}

.modal-contacts {
    display: block;
    position: fixed;
    z-index: 111;
    left: 25%;
    top: 100px;
    width: 461px;
    height: 383px;
    padding: 43px 80px 40px;
    background-color: #ffffff;
    border-top: 7px solid #ff5357;
    box-shadow: 0 10px 30px 0px #111720,
                0 -112px 0px 0px #f4f4f4 inset;
}

.button-sybmit-wrap {
    
    width: 540px;
    padding-top: 36px;
    padding-left: 80px;
    height: 112px;
    margin-top: 32px;
    background-color: #f4f4f4;
}

.modal-form label {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.modal-form input {
    width: 204px;
    height: 9px;
}

.modal-form input,
.modal-form textarea {
    padding-top: 13px;
    padding-left: 16px;
    padding-bottom: 13px;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 2px solid #dee3e4;
}

.modal-form input:hover,
.modal-form textarea:hover {
    border: 2px solid #b5b5b5;
}

.modal-form input:focus,
.modal-form textarea:focus {
    border: 2px solid #ee3643;
}

.modal-button-sybmit {
    display: block;
    padding: 12px 202px;
    margin-top: 75px;
    border: none;
    border-radius: 3px;
    background-color: #ee3643;
    color: #ffffff;
}

.modal-button-sybmit:hover {
    background-color: #ca2c37;
}

.modal-button-sybmit:active {
    background-color: #ba2732;
}

.modal-contacts-close {
    display: block;
    position: absolute;
    z-index: 111;
    bottom: 436px;
    left: 589px;
    background: url("../img/css_sprites.png") no-repeat -74px -232px;
    width: 21px;
    height: 21px;
    padding: 10px;
    border: none;
}

/* catalog.html stilization*/

/* breadscrumbs */

.catalog-item-name {
    background-color: #f2f6f8;
    text-transform: uppercase;
}

.catalog-item-name h1 {
    margin: 0;
    padding: 30px 100% 30px 30px;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}

.breadcrumbs {
    display: flex;
    position: relative;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 22px;
    font-family: "PTSans", Arial, sans-serif;
    list-style: none;
}

.breadcrumbs a {
    text-transform: uppercase;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
}

.breadcrumbs a::after {
    content: "";
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
    background: url("../img/css_sprites.png") no-repeat -355px -112px;
    width: 8px;
    height: 12px;
}

/* filter form */

.filter-block {
    display: block;
    width: 52px;
    height: 14px;
    padding: 12px 150px 12px 19px;
    margin: 0;
    margin-top: 20px;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter-wrap {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    font-family: "PTSans", Arial, sans-serif;
}

.filter p {
    background-color: #f7f3ec;
    
}

.filter-form {
    margin-right: 0;
    width: 220px;
}

.filter label {
    display: block;
    position: relative;
    cursor: pointer;
    background: #ffffff;
    min-width: 220px;
    font-size: 17px;
    padding-left: 35px;
    margin-bottom: 19px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter .price-range-label {
    padding-left: 0;
}

.checked .label-checkbox::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    background: url("../img/css_sprites.png") no-repeat -269px -188px;
    width: 27px;
    height: 23px;
}

 .label-checkbox::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background: url("../img/css_sprites.png") no-repeat -147px -151px;
    width: 23px;
    height: 23px;
}

.radio-on .label-radio::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background: url("../img/css_sprites.png") no-repeat -171px -92px;
    width: 25px;
    height: 25px;
}

.label-radio::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background: url("../img/css_sprites.png") no-repeat -216px -92px;
    width: 25px;
    height: 25px;
}

.price-range {
    width: 220px;
    height: 80px;
}

/*.price-range::-webkit-slider-thumb {
    background: url("../img/css_sprites.png") no-repeat -190px -151px;
    width: 20px;
    height: 23px;
}*/

.range-style span {
    font-size: 17px;
    line-height: 18px;
}

.range-style {
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter-form span {
    display: inline-block;
    margin-top: 9px;
    margin-bottom: 25px;
}

.first-range,
.second-range {
    display: block;
    border-radius: 3px;
    background-color: #f7f3ec;
    padding: 10px 41px;
}

.first-range {
    margin-right: 9px;
    padding: 10px 43px;
}

.second-range {
    margin-left: 8px;
    padding: 10px 27px;
}

.fieldset-style {
    border: none;
    border-top: 1px solid #e5e5e5;
}

.fieldset-style ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.fieldset-style fieldset {
    max-width: 220px;
    padding: 0;
    margin: 0;
    border: none;
}

.fieldset-style legend {
    padding-top: 20px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.fieldset-style ul {
    list-style: none;
}

.filter-option label {
    display: inline-block;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.filter-button {
    margin-top: 60px;
    padding: 12px 39px 8px;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.filter-button:hover,
.filter-button:focus {
    border: 1px solid #bdc6ca;
}

.filter-button:active {
    border: 1px solid #ee3744;
}

.sort-section {
    display: flex;
    width: 659px;
    height: 21px;
    padding: 11px 17px 6px 20px;
    margin: 20px 0 20px 20px;
    background-color: #f7f3ec;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
}


.sort-item  a {
    height: 12px;
    margin-bottom: 12px;
}

.sort-section p {
    display: block;
    margin: 0;
    margin-right: 142px;
    font-size: 13px;
    line-height: 18px;
}

.sort {
    display: flex;
    min-width: 420px;
    padding: 0;
    margin: 0;
    background-color: #f7f3ec;
    border-radius: 3px;
    text-transform: uppercase;
    list-style: none;
    font-family: "PTSans", Arial, sans-serif;
}

.sort-item:nth-of-type(1) {
    margin-right: 75px;
}

.sort-item:nth-of-type(2) {
    margin-right: 65px;
}

.sort-item:nth-of-type(3) {
    margin-right: 47px;
}

.sort-item:nth-of-type(4) {
    margin-right: 21px;
}

.sort-item a {
    opacity: 0.3;
    color: #000000;
    border-bottom: 1px dashed #ee3643;
}

.sort-item a:hover {
    text-decoration: underline;
    text-decoration-color: #ee3643;
    border: none;
    opacity: 1;
}

.sort-item a:active {
    text-decoration: none;
    color: #ee3643;
}

.sort-up-button {
    display: block;
    background: url("../img/icon-up-dir-active.svg") no-repeat;
    width: 11px;
    height: 18px;
}

.sort-down-button {
    display: block;
    background: url(../img/icon-down-dir.svg) no-repeat;
    width: 11px;
    height: 18px;
    opacity: 0.3;
}

.paginator-list {
    margin-top: 41px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.paginator-item a {
    padding: 12px 15px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
}

.paginator-item a:hover {
    border: 1px solid #bdc6ca;
}

.paginator-item a:active {
    border: 1px solid #ee3643;
}

.paginator-item-current a {
    padding: 12px 15px;
    margin-right: 10px;
    background-color: #ee3643;
    border-radius: 3px;
    color: #ffffff;
}

/* section class="catalog-item-about" */

.catalog-about {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 71px;
    background-color: #f2f6f8;
}

.catalog-about h2 {
    text-transform: uppercase;
    font-weight: normal;
}

.catalog-about {
    font-family: "PTSans", Arial, sans-serif;
}

.catalog-list {
    width: 700px;
    font-family: "PTSans", Arial, sans-serif;
    margin-left: 20px;
}

/* section class="modal-buy" */

.modal-form h3 {
    margin: 0;
    margin-bottom: 108px;
    margin-left: 95px;
    font-size: 30px;
    line-height: 30px;
}

.modal-form h3::before {
    content: "";
    display: block;
    position: absolute;
    left: 80px;
    top: 48px;
    background: url("../img/css_sprites.png") no-repeat -269px -10px;
    width: 66px;
    height: 66px;
}


.modal-buy {
    position: fixed;
    top: 100px;
    left: 25%;
    width: 560px;
    height: 217px;
    padding-top: 68px;
    padding-left: 80px;
    background-color: #ffffff;
    border-top: 7px solid #ee3643;
    box-shadow: 0 10px 30px 0px #111720,
                0 -112px 0px 0px #f4f4f4 inset;
}

.modal-button-buy {
    padding: 11px 61px;
    margin-right: 20px;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
}

.modal-button-buy:hover {
    background-color: #ca2c37;
}

.modal-button-buy:active {
    background-color: #ba2732;
}

.modal-button-continue {
    padding: 11px 61px;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    color: #000000;
}

.modal-button-close {
    display: block;
    position: absolute;
    z-index: 111;
    top: 9px;
    right: 9px;
    background: url("../img/css_sprites.png") no-repeat -74px -232px;
    width: 21px;
    height: 21px;
    padding: 10px;
    border: none;
}